.gallery-block__title.section__title
  p.subtitle Gallery
  h2.title Mindmapping about Adult Learning

.gallery
  img.gallery-item(
    src="img/galleries/mindmaps/mindmap1.jpg"
    alt="mindmap about learning"
    width="768"
    height="581"
  )
  img.gallery-item(
    src="img/galleries/mindmaps/mindmap2.png"
    alt="mindmap about learning"
    width="1298"
    height="794"
  )
  img.gallery-item(
    src="img/galleries/mindmaps/mindmap3.png"
    alt="mindmap about learning"
    width="972"
    height="792"
  )
  img.gallery-item(
    src="img/galleries/mindmaps/mindmap4.png"
    alt="mindmap about learning"
    width="760"
    height="565"
  )

          //-   <img class="gallery-item" src="img/galleries/mindmaps/mindmap5.jpg" alt="mindmap about learning" width="744"
          //-   height="520">
          //- <img class="gallery-item" src="img/galleries/mindmaps/mindmap6.jpg" alt="mindmap about learning" width="600"
          //-   height="410">
          //- <img class="gallery-item" src="img/galleries/mindmaps/mindmap7.png" alt="mindmap about learning" width="1164"
          //-   height="923">
          //- <img class="gallery-item" src="img/galleries/mindmaps/mindmap8.jpg" alt="mindmap about learning" width="714"
          //-   height="562">
