.inspire-block__title.section__title
  p.subtitle Inspiration
  h2.title Time to listen to great minds and try it on your skin
.quote-section._wrap
  .quote-block
    .quote-block__image
      img.image-quote(
        src="img/main_quote_1.jpg"
        alt="superman is learning"
        width="960"
        height="670"
      )
    .quote-block__desc
      .quote-block__title
        h3 Learning is good
      .quote-block__slogan Learning is something that takes place daily by interacting with other people and the worldaroundus. Life often throwschallenges at us, there may be  hurdles to overcome, sometimes we compare ourselves with otherswhoperform better thanus, but one should never get demotivated.
      .quote
        .quote__text We now accept the fact that learning is a #[span.mark lifelong process of keeping ahead of change.] And to teach people how to learn.
        .author__name Peter Drucker
      input.hidden-toggle#check1(type="checkbox")
      .hidden-block
        .quote
          .quote__text The beautiful thing about learning is #[span.mark nobody can take it away from you.]
          .author__name B.B. King
        .quote
          .quote__text Wisdom… #[span.mark comes not from age, but from education and learning.]
          .author__name Anton Chekhov
      label.quote-block__link.hidden-link(for="check1") Get more quotes

  .quote-block.quote-block--reversed
    .quote-block__image
      img.image-quote(
        src="img/main_quote_2.jpg"
        alt="bookshelves for learners"
        width="960"
        height="670"
      )
    .quote-block__desc
      .quote-block__title
        h3 Life is long
      .quote-block__slogan Lifelong learning is possible for a curious learner only. Each passing day has something new for us and we hope these lifelong learning quotes help you in your growth. Lifelong learning is an asset that you can gift yourself, be it at any age. The importance of lifelong learning quotes reminds us that everything we need to succeed is already within us.
      .quote
        .quote__text The purpose of learning is growth, and #[span.mark our minds, unlike our bodies, can continue growing as we continue to live.]
        .author__name Mortimer Adler
      input.hidden-toggle#check2(type="checkbox")
      .hidden-block
        .quote
          .quote__text You'll never know everything about anything, #[span.mark especially something you love.]
          .author__name Julia Child
        .quote
          .quote__text I am learning all the time. #[span.mark The tombstone will be my diploma.]
          .author__name Eartha Kitt
      label.quote-block__link.hidden-link(for="check2") Get more quotes

  .quote-block
    .quote-block__image
      img.image-quote(
        src="img/main_quote_3.jpg"
        alt="light of learning"
        width="960"
        height="670"
      )
    .quote-block__desc
      .quote-block__title
        h3 Inspiration is a must
      .quote-block__slogan You can learn the best things from the worst times of your life if you leave yourself open to that situation. Here you can find some of the top quotes from great personalities across the world. Find below lifelong learning quotes with source to get inspired and motivated in your daily life.
      .quote
        .quote__text Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and #[span.mark most of all, love of what you are doing or learning to do.]
        .author__name Pele
      input.hidden-toggle#check3(type="checkbox")
      .hidden-block
        .quote
          .quote__text A good teacher can inspire hope, ignite the imagination, and #[span.mark instill a love of learning.]
          .author__name Brad Henry
        .quote
          .quote__text A 'genius' is often merely a talented person #[span.mark who has done all of his or her homework.]
          .author__name Thomas Edison
      label.quote-block__link.hidden-link(for="check3") Get more quotes
