.modal#modal-youtube(aria-hidden="true")
      a.modal__area(href="#test")
      .modal__wrapper
        .modal__content
          a.modal__close(href="#test") Close
          h5.modal__title What you need to learn about Learning Styles
          .modal__text Watch this short video below to get a clue...
          .modal__video
            iframe(
              width="560px"
              height="315px"
              src="https://www.youtube.com/embed/cN-T9lnjgrE"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              )
          .button-box
            a.button.button--test(href="questionaire.html") Test yourself now

