nav.site-nav
  ul.site-nav__links
    li
      a.site-nav__link(class=pageClass === "index-page" ? "site-nav__link--active" : false, href=pageClass === "index-page" ? false : "index.html") Home
    li
      a.site-nav__link(href="index.html#articles") Articles
    li
      a.site-nav__link(class=pageClass === "test-page" ? "site-nav__link--active" : false, href=pageClass === "test-page" ? false : "test.html") Learn Your Style
    li
      a.site-nav__link(href="index.html#quotes") Inspiration
    li
      a.site-nav__link(href="index.html#mindmaps") Mindmaps
    li
      a.site-nav__link(class=pageClass === "research-page" ? "site-nav__link--active" : false, href=pageClass === "research-page" ? false : "research.html") Research
    li
      a.site-nav__link(href="#contact") Contact
